<% form_for([@topic, @post]) do |f| %>
  <%= f.error_messages %>

  <% if @current_page %>
    <%= hidden_field_tag "page", @current_page %>
  <% end %>

  <div class="block">
    <h2><%=h header_block %></h2>
    <p>
      <%= f.label :body, _("Body") %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit button_name %>
    </p>
  </div>
<% end %>
