<%= render :partial => "links" %>
<div class="block">
  <h2><%=h @topic.subject %></h2>
  <div class="table">
    <table>
      <tr>
        <th class="column_left_20">Author</th>
        <th class="column_left">Body</th>
      </tr>

      <%= render :partial => "post", :collection => @posts %>
    </table>
  </div>
</div>
<%= render :partial => "links" %>
<% if permission_to? "posts", "new" %>
  <%= render :partial => "edit", :locals => { :header_block => _("Quick reply"), :button_name => _("Reply") } %>
<% end %>
